.one{
        font-family: Tahoma;
    }
    .two{
        font-family:Arial;
        font-weight:bolder;
        margin-bottom:0;
    }
    .para{
        margin-top:0;
        color:red;
        font-style:italic;
        font-family:Arial;
    }
    .three{
        font-family:verdana;
        margin-bottom:0;

    }
    .para1{
        color:grey;
        font-family:verdana;
        margin-top:0;
    }
    .para2{
        font-family:verdana;

    }
    .spacing{
        margin-bottom:0;
    }
    .space{
        margin-top:0;
    }
    .button1{
        background-color:green;
        color:white;
        border:none;
        font-family:verdana;
        padding:10px;
        padding-right:15px;
        padding-left:15px;
        border-radius:5px;
    }
    .four{
        font-family:Arial;
        font-weight:bold;
        text-align:center;

    }
    .cnt{
        font-family:Arial;
        margin-left:30px;
          text-align:center;
    }
    .colour{
        color:rgb(101, 101, 237);
        font-family:Arial;
          text-align:center;
    }
    