.navbar{
        display:inline;
    }
    .two{
        color:rgb(0,118,0);
    }
    .three{
        background-color:rgb(255,216,20);
        color:black;
        border:none;
        height:30px;
        width:110px;
        border-radius:20px;
    }
    .four{
        background-color:rgb(255,164,28);
        color:black;
        height:30px;
        width:110px;
        border-radius:20px;
        border:none;
    }
